body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 90%;
  max-width: 960px;
  margin: auto;
  color: white;
  background-color: rgb(14, 13, 13);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
